streamlit
langchain
langchain-community
langchain-chroma
python-dotenv
langchain-text-splitters
pypdf
tiktoken
sentence-transformers
streamlit
langgraph
ddgs
langchain-groq
groq
langchain-core
langchain-huggingface
duckduckgo-search
ddgs
chromadb
protobuf==3.20.3
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-exporter-otlp==1.25.0
